div.area
{
	height: 49%;
	width: 98%;
	left: 0px;
	overflow-y: scroll;
	position: relative;
}
table.constellations, .constellations tr, .constellations td, .constellations th
{
	border: 1px solid black;
	border-collapse: collapse;
}

.constellations img
{
	display: inline;
	height: 2em;
	width: 2em;
}
.constellations ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.state td
{
		vertical-align: top;
}

.used dd
{
	margin: 0px;
	padding: 0px;
}

.used dt
{
	text-align: center;
	font-weight: bold;
}

dl.used
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.remaining img {
	height: 2em;
	width: 2em;
}

.remaining td {
	text-align: center;
}

.remaining th
{
	padding: 0px;
}

#cy {
  width: 100%;
  position: relative;
}

.ui-tooltip, .qtip{
	max-width: 400px;
}

.confClose, .confOpen {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	cursor: pointer;
	z-index: 100;
	overflow-x: hidden;
}

.confClose * {
	visibility: hidden;
}

.confClose {
	width: 2%;
	background-color: #a0a0a0;
}

.confOpen {
	padding-left: 10px;
	width: 30%;
	background-color: #a0a0a0;
}

.confOpen fieldset {
	margin: 1em;
}

.confOpen * {
	background-color: #e0e0e0;
}